<%-include("../layout/adminHeader.ejs")%>


    <main id="main" class="main">
        <div style="display: flex;">
            <div style="width: 50%;">
                <a class="btn btn-success" onclick="salesReport()">Generate Sales Report</a>
            </div>
            <div class="float-end text-end" style="width: 50%;">
              
                <a class="btn btn-success float-end" onclick="salesReportPDF()">Download Sales Report in PDF</a>

            </div>
        </div>
        <div style="display: flex;" class=" mt-3">

            <div style="width: 50%;display: flex;">
                <div>
                    <label for="startDate">Start Date: </label>
                    <input type="date" id="startDate" onchange="getValues()">
                </div>
                <div>
                    <label for="endDate">End Date: </label>
                    <input type="date" id="endDate" onchange="getValues()">
                </div>
                
            </div>

            <div style="width: 50%;">
                <select name="filter" id="dropdown" class="float-end mt-4" onchange="getValues()">
                    <option value="all">Filter by</option>
                    <option value="1_day">1 Day</option>
                    <option value="1_week">1 Week</option>
                    <option value="1_month">1 Month</option>
                </select>
            </div>
          
        </div>
        
        <div class="row mt-5" id="salesTable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Units Sold</th>
                        <th scope="col">Revenue</th>
                        <th scope="col">Discount</th>
        
                    </tr>
                </thead>
                <tbody>
                  
                    <%
                    if(data.length>0){
                        %>
                        
                        <%
                        data.forEach((item)=>{
                            %>
                            <tr>
                                <td><%=item.productName%>
                                <br>
                                <!-- <%=item.productId%> -->
                            </td>
                                <td><%=item.quantity%></td>
                                <td><%=item.price.toFixed(2)%></td>
                                <td><%=item.totalDiscountAmount.toFixed(2)%></td>
                               
                            </tr>
                            <%
                        })
                        %>

                        <tr>
                            <td colspan="2" style="text-align: right;font-weight: bold;">Total Revenue: </td>
                            <td colspan="2" style="text-align: left">₹ <%=revenue.toFixed(2)%></td>
                        </tr>
                       

                        <%
                    }else{
                        %>
                        <p>No data available</p>
                        <%

                    }
                    %>                                             
                         
                </tbody>

            </table>

        </div>

        <div style="position: relative;">
        <div class="mt-3 text-center" style="position: absolute; top: 250px;right: 0;left: 0;bottom: 0;">
           <a href="?search=<%=search%>&page=<%= previous%>">Previous</a>
           
            <%
            for(let i=1;i<=totalPages;i++){
                %>
                <a href="?search=<%=search%>&page=<%= i %>"><%= i %></a> 
                <%
            }
            %>
            
            <a href="?search=<%=search%>&page=<%= next%>">Next</a>
        </div>
    </div>
    </main>


<!------------------------------------------------------------------------------------>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

function getValues(){

let startDate=document.getElementById('startDate').value
let endDate=document.getElementById('endDate').value
let search=document.getElementById('dropdown').value

console.log(startDate,endDate,search);

$.ajax({
        url:`salesReportFiltered?search=${search}&startDate=${startDate}&endDate=${endDate}`,
        method:'get',
        success:(response)=>{
            console.log('salesData:', response.filteredOrders);
            let salesData= response.filteredOrders
            let salesTable=document.getElementById('salesTable')
            salesTable.innerHTML=''
            let html=``

            if(salesData.length>0){
                html+=`
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Units Sold</th>
                        <th scope="col">Revenue</th>
                        <th scope="col">Discount</th>
        
                    </tr>
                </thead>
                <tbody>
                `
                salesData.forEach((data)=>{
                    html+=`
                            <tr>
                                <td>${data.productName}</td>
                                <td>${new Date(data.orderDate).toLocaleDateString()}</td>
                                <td>${data.quantity}</td>
                                <td>${data.price.toFixed(2)}</td>
                                <td>${data.totalDiscountAmount.toFixed(2)}</td>
                               
                            </tr>
                    `
                })

                html+=` <tr>
                            <td colspan="3" style="text-align: right;font-weight: bold;">Total Revenue: </td>
                            <td colspan="2" style="text-align: left;"">₹ ${ response.revenue.toFixed(2)}</td>
                        </tr>
                
                
                </tbody>

                     </table> `

                     salesTable.innerHTML=html
            }else{
                html+=`No data available`
                salesTable.innerHTML=html
            }
                      

        }
})

}



function salesReport(){
    let search=document.getElementById('dropdown').value
    let startDate=document.getElementById('startDate').value
    let endDate=document.getElementById('endDate').value

    console.log('search: ',search);
    console.log('startDate: ',startDate);
    console.log('endDate: ',endDate);
        $.ajax({
        url:`salesReport?search=${search}&startDate=${startDate}&endDate=${endDate}`,
        method:'get',
        xhrFields:{
            responseType:'blob'
        },
        success:(response)=>{
            // console.log(response);
          const link = document.createElement('a');
          link.href = window.URL.createObjectURL(response);
          link.download = 'Sales_report.xlsx';
          document.body.appendChild(link);
          link.click();
          // Cleanup
          document.body.removeChild(link);
        }
    })
    
}


function salesReportPDF(){

    let search=document.getElementById('dropdown').value
    let startDate=document.getElementById('startDate').value
    let endDate=document.getElementById('endDate').value

    $.ajax({
        url:`salesReportPdf?search=${search}&startDate=${startDate}&endDate=${endDate}`,
        method:'get',
        contentType: "application/json; charset=UTF-8",
        xhrFields:{
            responseType:'blob'
        },
        success:(response)=>{
           
            console.log('response: ', response);
            let link = document.createElement('a');
            link.href =window.URL.createObjectURL(response);
            let date=Date.now()
            link.download = `${date}.pdf`;
            document.body.appendChild(link);
            link.click();
             // Cleanup
            document.body.removeChild(link);

        }
    })

}

</script>




    <%-include("../layout/adminFooter.ejs")%>