<%-include("../layout/adminHeader.ejs")%>


    <main id="main" class="main">
        <div style="display: flex;">
            <div style="width: 50%;">
                <a class="btn btn-success" href="addUser">Add User</a>
            </div>
            <div class="float-end text-end" style="width: 50%;">
                <form action="">
                    <input type="text" placeholder="Search user by name, email" name="search" style="width:250px;height:35px;border-radius:10px;padding-left: 20px;">
                    <input type="submit" class="btn btn-primary" value="Search">
                  </form>
            </div>
        </div>
      
        <div class="row mt-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Verified</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((item)=>{
                        %>
                        <tr>
                            <td>
                                <%=item.name%>
                            </td>
                            <td>
                                <%=item.email%>
                            </td>
                            <td>
                                <%=item.mobile%>
                            </td>
                            <td>
                                <%if(item.is_verified===true){ %>
                                    <p>Verified</p>
                                    <% }else{ 
                                        %>
                                        <p>Not Verified</p>
                                        <% } 
                                    %>
                            </td>
                            <td>
                                <a class="btn btn-info" href="editUser?id=<%=item._id%>">Edit</a>
                                    <% 
                                    if(item.is_blocked===false){
                                        %> 
                                        <a class="btn btn-warning" href="blockUser?id=<%=item._id%>">Block</a> 
                                        <%
                                    }else
                                    {
                                        %> 
                                        <a class="btn btn-warning" href="unblockUser?id=<%=item._id%>">Unblock</a> 
                                        <%
                                    }                                   
                                    %>
                            </td>
                        </tr>

                        <% }) %>
                </tbody>

            </table>

        </div>

        <div class="mt-3 text-center">
           <a href="?search=<%=search%>&page=<%= previous%>">Previous</a>
           
            <%
            for(let i=1;i<=totalPages;i++){
                %>
                <a href="?search=<%=search%>&page=<%= i %>"><%= i %></a> 
                <%
            }
            %>
            
            <a href="?search=<%=search%>&page=<%= next%>">Next</a>
        </div>
    </main>

    <%-include("../layout/adminFooter.ejs")%>