<%-include("../layout/adminHeader.ejs")%>


    <main id="main" class="main">

        <h3><strong>Edit Product</strong></h3>

        <form action="" method="post" class="mt-5" enctype="multipart/form-data">

            <div class="form-group">
                <label for="recipient-name1" class="col-form-label">Title</label>
                <input type="text" class="form-control" value="<%=data.title%>" name="title" id="recipient-name1" required="">
            </div>
            <div class="form-group">
                <label for="recipient-desc" class="col-form-label"><u>Description</u></label>
                <br><br>
                <div>
                    <label class="col-form-label">Size</label>
                    <input type="text" class="form-control" value="<%=data.description.size[0]%>" name="size">
                    <input type="text" class="form-control" value="<%=data.description.size[1]%>" name="size1">
                    <input type="text" class="form-control" value="<%=data.description.size[2]%>" name="size2">
                    <input type="text" class="form-control" value="<%=data.description.size[3]%>" name="size3">
                    <input type="text" class="form-control" value="<%=data.description.size[4]%>" name="size4">
                    <input type="text" class="form-control" value="<%=data.description.size[5]%>" name="size5">
                    <input type="text" class="form-control" value="<%=data.description.size[6]%>" name="size6">
                    <label class="col-form-label">Color</label>
                    <input type="text" class="form-control" value="<%=data.description.color%>" name="color" required="">
                    <label class="col-form-label">Material</label>
                    <input type="text" class="form-control" value="<%=data.description.material%>" name="material" required="">
                    <label class="col-form-label">Type</label>
                    <input type="text" class="form-control" value="<%=data.description.type%>" name="type" required="">
                    <label class="col-form-label">Description</label>
                    <input type="text" class="form-control" value="<%=data.description.description%>" name="description" required="">
                </div>
            </div>

            <div class="form-group">
                <label for="recipient-tags" class="col-form-label">Tags</label>
                <input type="text" class="form-control" value="<%=data.tags[0]%>" name="tag1" id="recipient-tags" >
                <input type="text" class="form-control" value="<%=data.tags[1]%>" name="tag2" id="recipient-tags" >
                <input type="text" class="form-control" value="<%=data.tags[2]%>" name="tag3" id="recipient-tags" >
                <input type="text" class="form-control" value="<%=data.tags[3]%>" name="tag4" id="recipient-tags" >
                <input type="text" class="form-control" value="<%=data.tags[4]%>" name="tag5" id="recipient-tags" >
                <input type="text" class="form-control" value="<%=data.tags[5]%>" name="tag6" id="recipient-tags" >
            </div>
            <div class="form-group">
                <label for="recipient-price" class="col-form-label">Price</label>
                <input type="number" class="form-control" value="<%=data.price%>" name="price" id="recipient-price" required="">
            </div>
            <div class="form-group">
                <label for="recipient-discount" class="col-form-label">Discount</label>
                <input type="text" class="form-control" value="<%=data.discount%>" name="discount" id="recipient-discount" required="">
            </div>
            <div class="form-group">
                <label for="recipient-quantity" class="col-form-label">Quantity</label>
                <input type="number" class="form-control" value="<%=data.quantity%>" name="quantity" id="recipient-quantity" required="">
            </div>
            <div class="form-group">
                <label for="recipient-category" class="col-form-label">Category ID</label>
                <input type="text" class="form-control" value="<%=data.category_id%>" name="categoryid" id="recipient-category" required="">
            </div>

            <div class="form-group">
              <label for="recipient-image" class="col-form-label">Image</label> 

              <%
              data.image.forEach((image)=>{
                %>
               <img src='/productImages/<%=image%>' alt="<%=image%>" width="50 px" height="50 px">
                <%
              })
              %>

              <input type="file" class="form-control" name="images" multiple id="recipient-image" >
            
          </div>

          <div class="form-group">
            <input type="radio" value="true" name="verify" required <% if(data.is_listed===true){ %> checked <% } %> >
            <label class="col-form-label">Listed</label>
            <input type="radio" value="false" name="verify" required <% if (data.is_listed===false){ %> checked<% } %> >
            <label class="col-form-label">Unlisted</label>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" value="<%=data._id%>" name="id" required>
        </div>
          <div style="display: flex;">
            <div class="form-group">
                <input type="submit" class="btn btn-success mt-4" value="Edit Product">
            </div>
            <div class="form-group ms-5">
                <a href="product" class="btn btn-primary mt-4" style="width:100px">Cancel</a>
            </div>
        </div>
        </form>

        
        <div>
            <p>
                <span style="color: red;"><%= message %></span>
            </p>
        </div>
    
        
    </main>

    <%-include("../layout/adminFooter.ejs")%>