<%-include("../layout/adminHeader.ejs")%>


    <main id="main" class="main">

        <% var message%>

        <h3><strong>Edit Order</strong></h3>

        <form action="" method="post" class="mt-5">

            <div class="form-group">
                <label class="col-form-label">Product</label>
                <input type="text" class="form-control" name="name" value="<%=data.products.title%>" disabled>
            </div>
            <div class="form-group">
                <label class="col-form-label">Shipping To</label>
                <input type="text" class="form-control" value= "<%=data.shippingAddress.name%>,<%=data.shippingAddress.building%>, <%=data.shippingAddress.city%>, <%=data.shippingAddress.state%>, <%=data.shippingAddress.country%>, <%=data.shippingAddress.pbNumber%>, <%=data.shippingAddress.contactNumber%>
                " name="shippingAddress" disabled>
            </div>
            <div class="form-group">
              <label class="col-form-label">Order Date</label> 
              <input type="text" class="form-control" name="date" value="<%=data.orderDate%>" disabled>
          </div>
          <div class="form-group">
            <label class="col-form-label">Amount</label> 
            <input type="number" class="form-control" name="amount" value="<%=data.products.price%>" disabled>
        </div>
        <div class="form-group">
            <label class="col-form-label">Payment Method</label> 
            <input type="text" class="form-control" name="paymentMethod" value="<%=data.paymentMethod%>" disabled>
        </div>
        <div class="form-group">
            <label class="col-form-label">Status</label> 
            <input type="text" class="form-control" name="status" value="<%=data.products.status%>">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" value="<%=data._id%>" name="id"  required>
        </div>
          <div style="display: flex;">
            <div class="form-group">
                <input type="submit" class="btn btn-success mt-4" value="Edit Order">
            </div>
            <div class="form-group ms-5">
                <a href="order" class="btn btn-primary mt-4" style="width:100px">Cancel</a>
            </div>
        </div>
        </form>

        
        <div>
            <p>
                <span style="color: red;"><%= message %></span>
            </p>
        </div>
    
        
    </main>

    <%-include("../layout/adminFooter.ejs")%>