<%-include("../layout/adminHeader.ejs")%>


    <main id="main" class="main">

        <h3><strong>Edit Product</strong></h3>

        <form action="" method="post" class="mt-5" enctype="multipart/form-data">

            <div class="form-group">
                <label for="recipient-name1" class="col-form-label">Title</label>
                <input type="text" class="form-control" value="<%=data.title%>" name="title" id="recipient-name1" required="">
            </div>
            <div class="form-group">
                <label for="recipient-desc" class="col-form-label"><u>Description</u></label>
                <br><br>
                <div>
                    <label class="col-form-label">Size</label>
                    <input type="text" class="form-control" value="<%=data.description.size%>" name="size" required="">
                    <label class="col-form-label">Color</label>
                    <input type="text" class="form-control" value="<%=data.description.color%>" name="color" required="">
                    <label class="col-form-label">Material</label>
                    <input type="text" class="form-control" value="<%=data.description.material%>" name="material" required="">
                    <label class="col-form-label">Type</label>
                    <input type="text" class="form-control" value="<%=data.description.type%>" name="type" required="">
                    <label class="col-form-label">Description</label>
                    <input type="text" class="form-control" value="<%=data.description.description%>" name="description" required="">
                </div>
            </div>

            <div class="form-group">
                <label for="recipient-price" class="col-form-label">Price</label>
                <input type="number" class="form-control" value="<%=data.price%>" name="price" id="recipient-price" required="">
            </div>
            
            <div class="form-group">
                <label for="recipient-quantity" class="col-form-label">Quantity</label>
                <input type="number" class="form-control" value="<%=data.quantity%>" name="quantity" id="recipient-quantity" required="">
            </div>
            <div class="form-group">
                <label for="recipient-tags" class="col-form-label">Ordered Quantity</label>
                <input type="text" class="form-control" value="<%=data.ordered_quantity%>" name="orderedQuantity" id="recipient-tags" >
            </div>
            <div class="form-group">
                <label for="recipient-tags" class="col-form-label">Rating</label>
                <input type="text" class="form-control" value="<%=data.rating%>" name="rating" id="recipient-tags" >
            </div>
            <div class="form-group">
                <label for="recipient-tags" class="col-form-label">Featured</label>
                <input type="text" class="form-control" value="<%=data.featured%>" name="featured" id="recipient-tags" >
            </div>
            <div class="form-group">
                <label for="recipient-category" class="col-form-label">Category ID</label>
                <!-- <input type="text" class="form-control" value="<%=data.category_id%>" name="categoryid" id="recipient-category" required=""> -->

                <%
                                if(data.category_id.toString()==='660d1e44cbed784ef9ecbb16'){
                                    %>
                <input type="text" class="form-control" value="Boys Clothing" id="recipient-category">
                <input type="hidden" class="form-control" value="<%=data.category_id%>" name="categoryid" id="recipient-category" required="">

                                    <%
                                }else{
                                    %>
                <input type="text" class="form-control" value="Boys Clothing" id="recipient-category">
                <input type="hidden" class="form-control" value="<%=data.category_id%>" name="categoryid" id="recipient-category" required="">

                                    <% 
                                }
                                %>
            </div>

            <div class="form-group">
              <label for="image" class="col-form-label">Image</label> 
              <span id="container" class="d-flex position-relative m-1 mb-1">
              <%
              data.image.forEach((image)=>{
                %>
                
               <img src='/productImages/<%=image%>' alt="<%=image%>" width="50 px" height="50 px">
            
                <%
              })
              %>
              </span>
              <input type="file" class="form-control" name="images" multiple id="image" onchange="getImage()" >
            
          </div>

          <div class="form-group">
            <input type="radio" value="true" name="verify" required <% if(data.is_listed===true){ %> checked <% } %> >
            <label class="col-form-label">Listed</label>
            <input type="radio" value="false" name="verify" required <% if (data.is_listed===false){ %> checked<% } %> >
            <label class="col-form-label">Unlisted</label>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" value="<%=data._id%>" name="id" required>
        </div>
          <div style="display: flex;">
            <div class="form-group">
                <input type="submit" class="btn btn-success mt-4" value="Edit Product">
            </div>
            <div class="form-group ms-5">
                <a href="product" class="btn btn-primary mt-4" style="width:100px">Cancel</a>
            </div>
        </div>
        </form>

        
        <div>
            <p>
                <span style="color: red;"><%= message %></span>
            </p>
        </div>
    
        
    </main>

    <script>
        let images=[]
        function getImage(){
            images=[]
            let image=document.getElementById('image').files
            console.log(image)
            for(let i=0;i<image.length;i++){
                images.push({
                    name:image[i].name,
                    url:URL.createObjectURL(image[i])
                })
            }
          
            document.getElementById('container').innerHTML=showImage()
        }

        function showImage(){
            let image=''

            images.forEach((item=>{
                image +=`
                <img src="${item.url}" alt="${item.name}" width="50 px" height="50 px" id="imageView">
                <a><span class="position-relative" style="top: -18px;right: 2px;cursor:pointer" onclick="deleteImage(${images.indexOf(item)})">&times;</span></a>
                `
            }))

            return image
        }

        function deleteImage(i){
            images.splice(i,1)
            document.getElementById('container').innerHTML=showImage()
        }

    </script>

    <%-include("../layout/adminFooter.ejs")%>