<%-include("../layout/adminHeader.ejs")%>


    <main id="main" class="main">

        <h3><strong>Edit Category</strong></h3>

        <form action="" method="post" class="mt-5" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-form-label">Name</label>
                <input type="text" class="form-control" name="name" value="<%=data.name%>" required>
            </div>
            <div class="form-group">
                <label class="col-form-label">Description</label>
                <input type="text" class="form-control" value= "<%= data.description %>" name="description" required>
            </div>
            <div class="form-group">
              <label class="col-form-label">Image</label> 
              <span id="container" class="d-flex position-relative m-1 mb-1">
                <!-- <img src='/categoryImages/<%= data.image %>' alt="<%= data.image %>" width="50 px" height="50 px" id="upload"> -->
                <img src="/categoryImages/<%= data.image %>" alt="<%= data.image %>" width="50 px" height="50 px" id="imageView">
                <a><span class="position-relative" style="top: -18px;right: 2px;cursor:pointer" onclick="deleteImage()">&times;</span></a>
              </span>
              <input type="file" class="form-control" value="<%= data.image %>" name="image" id="image" onchange="getImage()">
          </div>
          <div class="form-group">
            <input type="radio" value="true" name="verify" required <% if(data.is_listed===true){ %> checked <% } %> >
            <label class="col-form-label">Listed</label>
            <input type="radio" value="false" name="verify" required <% if (data.is_listed===false){ %> checked<% } %> >
            <label class="col-form-label">Unlisted</label>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" value="<%=data._id%>" name="id"  required>
        </div>
          <div style="display: flex;">
            <div class="form-group">
                <input type="submit" class="btn btn-success mt-4" value="Edit Category">
            </div>
            <div class="form-group ms-5">
                <a href="user" class="btn btn-primary mt-4" style="width:100px">Cancel</a>
            </div>
        </div>
        </form>

        
        <div>
            <p>
                <span style="color: red;"><%= message %></span>
            </p>
        </div>
    
        
    </main>

    <script>
        let image={}
        function getImage(){
            image={}
            let file=document.getElementById('image').files  // this gives an array of file/files uploaded then if it is having- 
            //-single image we can access it through files[0]//
            console.log(file)
            image.name=file[0].name
            image.url=URL.createObjectURL(file[0])
            // document.getElementById('container').innerHTML=showImage()
            // document.getElementById('upload').src=image.url
            document.getElementById('container').innerHTML=showImage()
            
        }

        function showImage(){
            let pic=''
            pic+=`
                <img src="${image.url}" alt="${image.name}" width="50 px" height="50 px" id="imageView">
                <a><span class="position-relative" style="top: -18px;right: 2px;cursor:pointer" onclick="deleteImage()">&times;</span></a>
            `
            return pic
        }

        function deleteImage(){
            document.getElementById('container').innerHTML=''
            document.getElementById('image').value=''
        }
    </script>

    <%-include("../layout/adminFooter.ejs")%>