<%- include('../layout/homeheader.ejs') %>

    </header>

    <% var cartTotalAmount %>
        <!-- //header -->
        <!-- inner banner -->
        <div class="ibanner_w3 pt-sm-5 pt-3">
            <h4 class="head_agileinfo text-center text-capitalize text-center pt-5">
                <span>K</span>idz<span>P</span>etalz
            </h4>
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="home">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <%= page%>
                </li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!--checkout-->
        <section class="checkout_wthree py-sm-5 py-3">
            <div class="container">
                <div class="check_w3ls">
                    <% if(message!=''){ %>
                        <span>
                            <%=message%>
                        </span>
                        <% }else{ %>
                    <div class="d-sm-flex justify-content-between mb-4">
                        <h4>review your order
                        </h4>
                        <h4 class="mt-sm-0 mt-3">Your shopping cart contains:
                            <span id="cartPageCount">
                                <%=cartCount%>
                            </span>Products
                        </h4>
                    </div>
                    <div class="checkout-right">

                                <table class="timetable_sub">

                                    <thead>
                                        <tr>
                                            <th>SL No.</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                            <th>Discount</th>
                                            <th>Amount</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% data.forEach((item)=>{
                                            %>

                                            <tr class="rem1">
                                                <td class="invert">1</td>
                                                <td class="invert-image">
                                                    <a href="product?id=<%=item.cartProduct._id%>">
                                                        <img src="/productImages/<%=item.cartProduct.image[0]%>"
                                                            alt="<%=item.cartProduct.image[0]%>" width="200px"
                                                            height="30px" class="img-responsive">
                                                    </a>
                                                </td>
                                                <td class="invert">
                                                    <div class="quantity">
                                                        <div class="quantity-select">
                                                            <button type="button"
                                                                onclick="changeQuantity('<%=item._id%>','<%=item.cartProduct._id%>',-1,'<%=item.totalAmount%>','<%=item.offerAmount%>')">-</button>
                                                            <div class="entry value">

                                                                <span id="<%=item.cartProduct._id%>">
                                                                    <%=item.quantity%>
                                                                </span>
                                                                <!-- here span id is gicven as product id itself so that the respective count of product would be available onclick -->

                                                            </div>
                                                            <button type="button"
                                                                onclick="changeQuantity('<%=item._id%>','<%=item.cartProduct._id%>',1,'<%=item.totalAmount%>','<%=item.offerAmount%>')">+</button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="invert">
                                                    <%=item.cartProduct.title%>
                                                        <br>
                                                        Price 
                                                </td>
                                                <td>₹ <%=item.unitPrice.toFixed(2)%></td>
                                                <%
                                                
                                                %>
                                                <td>₹ <%=item.discount.toFixed(2)%></td>
                                                <td class="invert">₹<span id="<%=item.totalAmount%>">
                                                     <%=item.totalAmount.toFixed(2)%>
                                                    </span>
                                                </td>

                                                <td class="invert">
                                                    <button type="button" class="btn-danger"
                                                        onclick="removeCartProduct('<%=item._id%>','<%=item.cartProduct._id%>')">Remove</button>

                                                </td>
                                            </tr>


                                            <% }) %>
                                        </tbody>
                                    </table>

                    </div>
                    <div class="row checkout-left mt-5">
                        <div class="col-md-8"></div>
                        <div class="col-md-4 checkout-left-basket float-right">
                            <h4>Continue to basket</h4>
                            <ul>
                            <li>Total Item Price
                                <i>-</i>
                                <span>₹ <%=totalPrice.toFixed(2)%></span>
                            </li>
                            <li>Item Discount
                                <i>-</i>
                                <span>₹ <%=totalDiscount.toFixed(2)%></span>
                            </li> 
                            <li>Shipping Charge
                                <i>-</i>
                                <span>₹ 0 </span>
                            </li>
                            <li>Total
                                    <i>-</i>
                                    <span> ₹ <span id="totalCartAmount">
                                            <%=cartTotalAmount%>
                                        </span></span>
                            </li>
                            <br>
                                <li><a href="/checkout" class="btn btn-secondary float-right">Proceed to Checkout</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    
                </div>
                <% } %>
            </div>
        </section>


        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <script>

            function changeQuantity(cartId, productId, count, totalAmount, unitPrice) {
                let quantity = parseInt(document.getElementById(productId).innerHTML)
                let cartValue = parseInt(document.getElementById('cartCount').innerHTML)
                let cartPageValue = parseInt(document.getElementById('cartPageCount').innerHTML)
                let totalProductAmount = parseInt(document.getElementById(totalAmount).innerHTML)
                let totalCartAmount = parseInt(document.getElementById('totalCartAmount').innerHTML)

                console.log(totalProductAmount);
                $.ajax({
                    url: '/changeProductQuantity',
                    method: 'post',
                    data: {
                        cartId: cartId,
                        productId: productId,
                        count: count,
                        quantity: quantity
                    },
                    success: (response) => {
                        if (response.itemRemoved) {
                            swal('Item removed').then(()=>{
                            location.reload()
                            })

                        } else if (response.maxLimit) {
                            swal('Maximun number of product to cart exceeded')

                        }  else if (response.lessStock) {
                            swal('Requested quantity exceeds available stock')

                        }  else if (response.outOfStock) {
                            swal('Product out of stock')

                        }else {
                            if (quantity > 0) {
                                document.getElementById(productId).innerHTML = quantity + count
                                document.getElementById('cartCount').innerHTML = cartValue + count
                                document.getElementById('cartPageCount').innerHTML = cartValue + count
                                document.getElementById(totalAmount).innerHTML = `${totalProductAmount + (unitPrice * count)}`
                                console.log(unitPrice * count + totalProductAmount);
                                document.getElementById('totalCartAmount').innerHTML = totalCartAmount + ((parseInt(unitPrice)) * count)
                            }


                            // alert(response)
                        }

                    }
                })
            }

            function removeCartProduct(cartId, productId) {
                $.ajax({
                    url: '/removeCartProduct',
                    method: 'post',
                    data: {
                        cartId,
                        productId
                    },
                    success: (response) => {
                        swal(response).then(()=>{
                            location.reload()
                        })
                       
                        
                    }
                })
            }


        </script>
        <!--//checkout-->

        <%- include('../layout/homefooter.ejs') %>