
<%- include('../layout/formheader.ejs') %>

<div class="pt-3 pb-5 px-sm-5">
  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-4 align-self-center">
          <img src="images/p3.png" class="img-fluid" alt="login_image" />
      </div>
    
      <div class="col-md-4">
        
          <form action="changePassword" method="post">
            <div class="form-group">
                <label for="recipient-password" class="col-form-label">Enter Current Password</label>
                <input type="password" class="form-control" placeholder=" " name="cPassword" id="recipient-password" required="">
                
            </div>
              <div class="form-group">
                  <label for="recipient-newpassword" class="col-form-label">Enter New Password</label>
                  <input type="password" class="form-control" placeholder=" " name="newPassword" id="recipient-newpassword" required="">
                  <input type="hidden" value="<%=id%>" name="id">
              </div>
              <div class="right-w3l"><br>
                  <input type="submit" class="form-control" value="Change Password">
                  <a href="home">Cancel</a>
              </div>
          </form>
          <% if(message){%>
            <div>
              <p>
              <span style="color: red;"><%= message%></span>
            </p>
              </div>
            <%}else if(text){%>
              <div>
                <p>
                <span style="color: red;"><%- text%></span>
              </p>
                </div>
              <%}
          %>
      </div>
    
         
    
      <div class="col-md-2"></div>
  </div>
</div>
<div style="height: 100px;"></div>

<%- include('../layout/formfooter.ejs') %>









