
<%- include('../layout/homeheader.ejs') %>

 <!-- //header -->
	<!-- inner banner -->
	<div class="ibanner_w3 pt-sm-5 pt-3">
		<h4 class="head_agileinfo text-center text-capitalize text-center pt-5">
			<span>K</span>iddos
			</h4>
	</div>
	<!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="home">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><%= page%></li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    
        <!-- Shop -->
        <div class="innerf-pages section">
            <div class="fh-container mx-auto">
                <div class="row my-lg-5 mb-5">
                    <!-- grid left -->
                    <div class="side-bar col-lg-3">
                        <!--preference -->
                        <div class="left-side">
                            <h3 class="shopf-sear-headits-sear-head">
                                Sort by</h3>
                            <ul>
                                <li>
                                    <input type="checkbox" class="checked" name="cat1" id="cat1">
                                    <label for="cat1">Popular</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked" name="cat2" id="cat2">
                                    <label for="cat2">Highest Price</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked" name="cat3" id="cat3">
                                    <label for="cat3">Lowest Price</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked" name="cat4" id="cat4">
                                    <label for="cat4">New Arrivals</label>
                                </li>

                            </ul>
                        </div>
                        <!-- // preference -->
                       
                        <!-- price range -->
                        <div class="range">
                            <h3 class="shopf-sear-headits-sear-head">
                                <span>Price</span> range</h3>
                            <ul class="dropdown-menu6">
                                <li>

                                    <div id="slider-range"></div>
                                    <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
                                </li>
                            </ul>
                        </div>
                        <!-- //price range -->
                        <!--preference -->
                        
                        <!-- // preference -->
                        <!-- discounts -->
                        <div class="left-side">
                            <h3 class="shopf-sear-headits-sear-head">Sizes</h3>
                            <ul>
                                <li>
                                    <input type="checkbox" class="checked" name="size1" id="size1">
                                    <label for="size1">2-3 Years</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked" name="size2" id="size2">
                                    <label for="size2">3-4 Years</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked" name="size3" id="size3">
                                    <label for="size3">4-5 Years</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked" name="size4" id="size4">
                                    <label for="size4">5-6 Years</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked" name="size5" id="size5">
                                    <label for="size5">6-7 Years</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked" name="size6" id="size6">
                                    <label for="size6">7-8 Years</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked" name="size7" id="size7">
                                    <label for="size7">8-9 Years</label>
                                </li>
                            </ul>
                        </div>
                        <!-- //discounts -->
                        <!-- Binding -->
                        <div class="left-side">
                            <h3 class="shopf-sear-headits-sear-head">Color</h3>
                            <div class="d-flex">
                                <ul>
                                    <li>
                                        <input type="checkbox" class="checked" name="color1" id="color1">
                                        <label for="color1">Black</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked" name="color2" id="color2">
                                        <label for="color2">Blue</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked" name="color3" id="color3">
                                        <label for="color3">Red</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked" name="color4" id="color4">
                                        <label for="color4">Yellow</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked" name="color5" id="color5">
                                        <label for="color5">White</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked" name="color4" id="color4">
                                        <label for="color4">Maroon</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked" name="color5" id="color5">
                                        <label for="color5">Blue</label>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <input type="checkbox" class="checked" name="color6" id="color6">
                                        <label for="color6">Green</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked" name="color7" id="color7">
                                        <label for="color7">Multi</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked" name="color8" id="color8">
                                        <label for="color8">Purple</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked" name="color9" id="color9">
                                        <label for="color9">Gold</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked" name="color10" id="color10">
                                        <label for="color10">Orange</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- //Binding -->
                        <!-- discounts -->
                        <div class="left-side">
                            <h3 class="shopf-sear-headits-sear-head">Discount</h3>
                            <ul>
                                <li>
                                    <input type="checkbox" class="checked" name="dis1" id="dis1">
                                    <label for="dis1">5% - 20%</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked" name="dis2" id="dis2">
                                    <label for="dis2">20% - 40%</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="dis3" name="dis3" id="dis3">
                                    <label for="dis3">40% - 60%</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked" name="dis4" id="dis4">
                                    <label for="dis4">60% or more</label>
                                </li>
                            </ul>
                        </div>
                        <!-- //discounts -->
                        <!-- reviews -->
                        
                        <!-- //reviews -->
                    </div>
                    <!-- //grid left -->
                    <!-- grid right -->
                    <div class="col-lg-9 mt-lg-0 mt-5 right-product-grid">
                        <!-- card group  -->
                        <div class="card-group">
                            <!-- card -->
                            <%
                            data.forEach((item)=>{
                                %>
                                <div class="col-lg-3 col-sm-6 p-0"  style="margin-right: 25px;">
                                    <div class="card product-men p-3">
                                        <div class="men-thumb-item">
                                            <img src="productImages/<%=item.image[0]%>" width="150px" height="200px"
                                            alt="<%=item.image[0]%>" class="card-img-top">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="product?id=<%=item._id%>" class="link-product-add-cart">Quick View</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- card body -->
                                        <div class="card-body  py-3 px-2">
                                            <h5 class="card-title text-capitalize"> <%=item.title%></h5>
                                            <div class="card-text d-flex justify-content-between">
                                                <p class="text-dark font-weight-bold">
                                                    <%=item.discounted_price%>
                                                </p>
                                                <p class="line-through">
                                                    <%=item.actual_price%>
                                                </p>
                                            </div>
                                        </div>
                                        <!-- card footer -->
                                        <div class="card-footer d-flex justify-content-end">
                                            <button type="submit" style="cursor: pointer;"
                                            onclick="addToCart('<%=item._id%>')"><i class="fa fa-cart-plus"
                                                aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <%
                             })
                            %>
                            
                            <!-- //card -->
                            
                            
                           
                        </div>
                        <!-- //card group -->
                    </div>
                </div>
            </div>
        </div>
        <!--// Shop -->

        <script>

let checkedValues = []
        let sortValue ={}

        let dropdown=document.getElementById('dropdownP')

        dropdown.addEventListener('change', () => {
            let sort = dropdown.value
            sortValue.sort = sort
            // console.log(sortValue);
        })

           console.log(sortValue);

        let checkboxes = document.querySelectorAll('input[type=checkbox]')

        checkboxes.forEach((checkbox) => {

            checkbox.addEventListener('click', async () => {

                if (checkbox.checked) {
                    await checkedValues.push(checkbox.value)
                } else {
                    let index = checkedValues.indexOf(checkbox.value)
                    if (index !== -1) {
                        await checkedValues.splice(index, 1)
                    }
                }

            })

        })
        console.log(checkedValues);

        $.ajax({
            url: `/products`,
            method: 'post',
            data: { filterArray: checkedValues, sort: sortValue },
            succes: (response) => {
                if (response.status) {
                    location.reload()
                }
            }
        })


        function addToCart(productId) {
            console.log(productId);
            $.ajax({
                url: `/addToCart?productId=${productId}`,
                type: 'get',
                // contentType:'application/json',
                // data:JSON.stringify({productId:productId}),
                success: (response) => {
                    // or we can check if (response.update), because {update:true} is the json response sent from the backend after cart is updated
                    if (response.update) {
                        // let cartNumber = $('#cartCount').html()
                        let cartNumber = document.getElementById('cartCount').innerHTML
                        let cartValue = parseInt(cartNumber) + 1
                        console.log(cartValue);
                        document.getElementById('cartCount').innerHTML = cartValue
                        console.log('success', response);
                        alert('Product added to cart')
                    }
                },
                error: (jqXHR, textStatus, errorThrown) => {
                    console.log(textStatus, errorThrown);
                }
            })

        }
        </script>
      
        <%- include('../layout/homefooter.ejs') %>