<%- include('../layout/homeheader.ejs') %>

    </header>

    <% var cartTotalAmount %>
        <!-- //header -->
        <!-- inner banner -->
        <div class="ibanner_w3 pt-sm-5 pt-3">
            <h4 class="head_agileinfo text-center text-capitalize text-center pt-5">
                <span>K</span>iddos
            </h4>
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="home">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <%= page%>
                </li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!--checkout-->
        <section class="checkout_wthree py-sm-5 py-3">
            <div class="container">
                <div class="check_w3ls">
                    <div class="d-sm-flex justify-content-between mb-4">
                        <h4>review your order
                        </h4>
                        <h4 class="mt-sm-0 mt-3">Your shopping cart contains:
                            <span id="cartPageCount">
                                <%=cartCount%>
                            </span>Products
                        </h4>
                    </div>
                    <div class="checkout-right">
                        <table class="timetable_sub">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Shipping To</th>
                                    <th>Order Date</th>
                                    <th>Amount</th>
                                    <th>Payment Method</th>
                                    <th>Status</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <span>
                                    <%=message%>
                                </span>
                                <% data.forEach((item)=>{
                                    %>
                                    <tr class="rem1">
                                        <td class="invert">
                                        <% item.products.forEach((e)=>{
                                            %>
                                            <a href="">
                                                <img src="productImages/<%=e.image%>" alt="" width="20px" height="20px" class="img-responsive">
                                            </a><br>
                                            <%=e.title%><br>
                                            <%=e.amount%><br>
                                            <%=e.quantity%><br><hr>

                                            <%})%>
                                       
                                    </td>
                                        <td class="invert-image">
                                            <%=item.shippingAddress.building%>, <%=item.shippingAddress.city%>, <%=item.shippingAddress.state%>, 
                                            <%=item.shippingAddress.country%>, <%=item.shippingAddress.pbNumber%>, <%=item.shippingAddress.contactNumber%>
                                        </td>
                                        <td class="invert">
                                            <%=item.orderDate%>
                                        </td>
                                        <td class="invert">
                                             ₹<%=item.orderAmount%>
                                        </td>

                                        <td class="invert"><%=item.paymentMethod%>
                                        </td>
                                        <td class="invert">
                                            <%=item.status%>
                                        </td>
                                     
                                        <td>
                                            <a class="btn btn-info" href="cancelOrder?id=<%=item._id%>">Cancel</a>
                                        </td>
                                    </tr>

                                  

                                    <% }) %>



                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </section>


        <!--//checkout-->

        <%- include('../layout/homefooter.ejs') %>