
<%- include('../layout/homeheader.ejs') %>

<!-- //header -->
	<!-- inner banner -->
    
	<div class="ibanner_w3 pt-sm-5 pt-3">
		<h4 class="head_agileinfo text-center text-capitalize text-center pt-5">
			<span>K</span>idz<span>P</span>etalz
			</h4>
	</div>
	<!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="home">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><%= page%></li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->

    <!-- Single -->
    <div class="innerf-pages section">
        <div class="container">


            
            <%
            data.forEach((item)=>{
                %>
                <div class="row my-sm-5">
                    <div class="col-lg-4 single-right-left">
                        <div class="grid images_3_of_2">
                            <div class="flexslider1">
                                <ul class="slides">
                                    <li data-thumb="productImages/<%=item.image[0]%>">
                                        <div class="thumb-image">
                                            <img src="productImages/<%=item.image[0]%>" data-imagezoom="true" alt=" " class="img-fluid"> </div>
                                    </li>
                                    <li data-thumb="productImages/<%=item.image[1]%>">
                                        <div class="thumb-image">
                                            <img src="productImages/<%=item.image[1]%>" data-imagezoom="true" alt=" " class="img-fluid"> </div>
                                    </li>
                                    <li data-thumb="productImages/<%=item.image[2]%>">
                                        <div class="thumb-image">
                                            <img src="productImages/<%=item.image[2]%>" data-imagezoom="true" alt=" " class="img-fluid"> </div>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 mt-lg-0 mt-5 single-right-left simpleCart_shelfItem">
                        <h3><%=item.title%>
                            <%
                            if(item.is_wishListed){ 
                                %>
                                <span id="wishlist"><button id="btnWishlist" style="border: none;background-color: white;" onclick="updateWishlist('<%=item._id%>')"><i style="color:red" class="fas fa-heart m-2"></i></button></span>
                                <%
                            }else{
                                %>
                               <span id="wishlist"><button id="btnWishlist" style="border: none;background-color: white;" onclick="updateWishlist('<%=item._id%>')"><i class="far fa-heart m-2"></i></button></span>
                                
                                <%
                            }
                            %>

                        </h3>
                        <div class="caption">
                            
                            <ul class="rating-single">
                                <li><span><%=item.rating%> </span> </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                            <h6>₹ <%=item.price%></h6>
                            <!-- <h5 > <span style="text-decoration: line-through;color:grey"> ₹ <%=item.price%></span>   <span style="text-decoration: none;color:red;margin-left: 15px;">'discount' off</span></h5>  -->
                           
                        </div>
                        <div class="desc_single">
                            <h5>Description</h5>
                            <p><%=item.description.description%></p>
                        </div>
                        <div class="d-sm-flex justify-content-between">
                            <div class="occasional">
                                <h5 class="sp_title mb-3">Highlights</h5>
                                <ul class="single_specific">
                                    <li>
                                        <span> Fabric: </span>Cotton</li>
                                    <li>
                                        <span>Color :</span> Blue</li>
                                    <li>
                                        <span> Ideal For:</span> Boys</li>
                                    <li>Full Sleeve Shirt Waistcoat and Pant Set</li>
                                </ul>
    
                            </div>
                            <div class="color-quality mt-sm-0 mt-4">
                                <h5 class="sp_title mb-3">services</h5>
                                <ul class="single_serv">
                                    <li>
                                        <a href="#">30 Day Return Policy</a>
                                    </li>
                                    <li class="mt-2">
                                        <a href="#">Cash on Delivery available</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="description">
                            <h5>Check delivery, payment options and charges at your location</h5>
                            <form action="#" method="post">
                                <input type="text" placeholder="Enter pincode" required />
                                <input type="submit" value="Check">
                            </form>
                        </div>

                        <div style=" margin: 20px 20px 20px 0;">
                            <%
                            if(message=='In Stock'){
                                %>
                                <p>
                                    <span style="color: rgb(30, 187, 30);font-size: x-large;"><%= message %></span>
                                </p>
                                <%}else{  %>
                                <p>
                                    <span style="color: red;font-size: x-large;"><%= message %></span>
                                </p>
                                <%
                            }
                            %>
                            
                        </div>

                        <div class="occasion-cart">
                            <div class="chr single-item single_page_b">
                                <button type="submit" style="cursor: pointer;"
                                onclick="addToCart('<%=item._id%>')"><i class="fa fa-cart-plus"
                                    aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <%
            })
            %>
            


        </div>
    </div>
    <!-- /new_arrivals -->
    <div class="section singlep_btm pb-5">
        <div class="container">
            <div class="new_arrivals">
                <h4 class="rad-txt text-capitalize">you may also be interested in
                </h4>
                <!-- card group  -->
                <div class="card-group my-5">
                    <!-- row1-->
                    <!-- card -->
                    <div class="card product-men p-3">
                        <div class="men-thumb-item">
                            <img src="images/pb9.jpg" alt="img" class="card-img-top">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="boy.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                        </div>
                        <!-- card body -->
                        <div class="card-body  py-3 px-2">
                            <h5 class="card-title text-capitalize">Festive Kurta And Pyjama Set</h5>
                            <div class="card-text d-flex justify-content-between">
                                <p class="text-dark font-weight-bold">$18.00</p>
                                <p class="line-through">$25.00</p>
                            </div>
                        </div>
                        <!-- card footer -->
                        <div class="card-footer d-flex justify-content-end">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="hub_item" value="Festive Kurta And Pyjama Set">
                                <input type="hidden" name="amount" value="18.00">
                                <button type="submit" class="hub-cart phub-cart btn">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                </button>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </div>
                    </div>
                    <!-- //card -->
                    <!-- card -->
                    <div class="card product-men p-3">
                        <div class="men-thumb-item">
                            <img src="images/pb10.jpg" alt="img" class="card-img-top">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="boy.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                        </div>
                        <!-- card body -->
                        <div class="card-body  py-3 px-2">
                            <h5 class="card-title text-capitalize">Party Shirt and Trouser Set</h5>
                            <div class="card-text d-flex justify-content-between">
                                <p class="text-dark font-weight-bold">$30.99</p>
                                <p class="line-through">$45.99</p>
                            </div>
                        </div>
                        <!-- card footer -->
                        <div class="card-footer d-flex justify-content-end">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="hub_item" value="Party Shirt and Trouser Set">
                                <input type="hidden" name="amount" value="30.99">
                                <button type="submit" class="hub-cart phub-cart btn">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                </button>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </div>
                    </div>
                    <!-- //card -->
                    <!-- card -->
                    <div class="card product-men p-3">
                        <div class="men-thumb-item">
                            <img src="images/pb11.jpg" alt="img" class="card-img-top">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="boy.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                        </div>
                        <!-- card body -->
                        <div class="card-body  py-3 px-2">
                            <h5 class="card-title text-capitalize">Casual Shirt and Trouser Set</h5>
                            <div class="card-text d-flex justify-content-between">
                                <p class="text-dark font-weight-bold">$20.00</p>
                                <p class="line-through">$25.00</p>
                            </div>
                        </div>
                        <!-- card footer -->
                        <div class="card-footer d-flex justify-content-end">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="hub_item" value="Casual Shirt and Trouser Set">
                                <input type="hidden" name="amount" value="20.00">
                                <button type="submit" class="hub-cart phub-cart btn">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                </button>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </div>
                    </div>
                    <!-- //card -->
                    <!-- card -->
                    <div class="card product-men p-3">
                        <div class="men-thumb-item">
                            <img src="images/pb5.jpg" alt="img" class="card-img-top">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="boy.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                        </div>
                        <!-- card body -->
                        <div class="card-body  py-3 px-2">
                            <h5 class="card-title text-capitalize">Shirt, Waistcoat And Pant Set</h5>
                            <div class="card-text d-flex justify-content-between">
                                <p class="text-dark font-weight-bold">$14.00</p>
                                <p class="line-through">$25.99</p>
                            </div>
                        </div>
                        <!-- card footer -->
                        <div class="card-footer d-flex justify-content-end">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="hub_item" value="Shirt, Waistcoat And Pant Set">
                                <input type="hidden" name="amount" value="14.00">
                                <button type="submit" class="hub-cart phub-cart btn">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                </button>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </div>
                    </div>
                    <!-- //card -->
                    <!-- //row  -->
                </div>
                <!-- //card group -->
                <!--//new_arrivals-->
            </div>
        </div>
    </div>
    <!--// Single -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

//----------------------------Add/remove to/from wishlist-------------------------------------------

let wishlistSpan=document.getElementById('wishlist')
let wishlistButton=document.getElementById('btnWishlist')
function updateWishlist(productId) {
            console.log(productId);
            $.ajax({
                url: `/updateWishlist?productId=${productId}`,
                type: 'get',
                // contentType:'application/json',
                // data:JSON.stringify({productId:productId}),
                success: (response) => {
                    // or we can check if (response.update), because {update:true} is the json response sent from the backend after cart is updated
                   if(response.outOfStock){
                    swal('Product out of stock')
                   }else if(response.productExists){
                    // wishlistSpan.innerHTML=''
                    // wishlistSpan.innerHTML=`<button id="btnWishlist" style="border: none;background-color: white;" onclick="updateWishlist(${productId})"><i class="far fa-heart m-2"></i></button>`
                    wishlistButton.innerHTML=`<i class="far fa-heart m-2"></i>`
                    swal('Product removed from wishlist')

                   }else if(response.productExists===false){ 
                    // wishlistSpan.innerHTML=''
                    // wishlistSpan.innerHTML=`<button id="btnWishlist" style="border: none;background-color: white;color: red" onclick="updateWishlist(${productId})"><i class="fas fa-heart m-2"></i></button>`
                    wishlistButton.innerHTML=`<i style="color:red" class="fas fa-heart m-2"></i>`
                    swal('Product added to wishlist')

                   }else if(response.wishlistCreated){
                    // wishlistSpan.innerHTML=''
                    // wishlistSpan.innerHTML=`<button id="btnWishlist" style="border: none;background-color: white;color: red;" onclick="updateWishlist(${productId})"><i class="fas fa-heart m-2"></i></button>`
                    wishlistButton.innerHTML=`<i style="color:red" class="fas fa-heart m-2"></i>`
                   
                    swal('Product added to wishlist')
                   }else{
                    swal('Could not add to wishlist')
                   }
                },
                error: (jqXHR, textStatus, errorThrown) => {
                    console.log(textStatus, errorThrown);
                }
            })

        }

//----------------------------------------------------------------------------------------   

//-------------------------------Add to cart-----------------------------------------------  
function addToCart(productId) {
            console.log(productId);
            $.ajax({
                url: `/addToCart?productId=${productId}`,
                type: 'get',
                // contentType:'application/json',
                // data:JSON.stringify({productId:productId}),
                success: (response) => {
                    // or we can check if (response.update), because {update:true} is the json response sent from the backend after cart is updated
                    if (response.update) {
                        // let cartNumber = $('#cartCount').html()
                        let cartNumber = document.getElementById('cartCount').innerHTML
                        let cartValue = parseInt(cartNumber) + 1
                        console.log(cartValue);
                        document.getElementById('cartCount').innerHTML = cartValue
                        console.log('success', response);
                        swal('Product added to cart')
                    }else{
                        swal(response)
                    }
                },
                error: (jqXHR, textStatus, errorThrown) => {
                    console.log(textStatus, errorThrown);
                }
            })

        }
//----------------------------------------------------------------------------------------   

    </script>
 
    <%- include('../layout/homefooter.ejs') %>